<section class="food-list ideal">
        <div class="ui-status empty">
                No hay ninguna canción
            </div>
            
            <div class="ui-status error">
                Se ha producido un error al cargar la canción
            </div>
            
            <div class="ui-status loading">
                Cargando...
            </div>

    <div class="ui-status ideal">
        <article class="recuadro">
            <a href="detail.html">
                <img class="imagen" src="img/horno.jpg" alt="">
            </a>
            <div class="receta">Arroz al horno</div>
            <div class="descripcion">El arroz al horno es un plato típico de la Comunidad Valenciana.
                Por el recipiente que se utiliza en algunos lugares  
                recibe el nombre de cassola. Su origen está en el aprovechamiento de los restos del 
                cocido por lo que sus ingredientes principales son 
                los garbanzos y los productos procedentes del cerdo utilizados en su elaboración 
                junto el caldo obtenido y el arroz.</div>
        </article>
        
        <article class="recuadro">
                <a href="detail.html">
            <img class="imagen" src="img/negro.jpg" alt="">
                </a>
            <div class="receta">Arroz negro</div>
            <div class="descripcion">El arroz negro es un plato de arroz seco,
                 cocinado en paella, de aspecto y sabor
                  característicos que lo diferencian del arroz a banda. 
                  La base de morralla en el caldo, el sofrito de cebollas y ajos picados,
                   y los trozos de marisco, junto con la tinta natural
                   del calamar que desprendre el propio animal. La tinta se le añade al 
                   arroz en el caldo de cocción y es lo que le da ese color que lo denomina.</div>
        </article>
        
        <article class="recuadro">
                <a href="detail.html">
            <img class="imagen" src="img/pasta.jpg" alt="">
                </a>
            <div class="receta">Pasta con tomate</div>
            <div class="descripcion">Los macarrones con tomate es un plato identificativo de la cocina española 
                que emplea en su elaboración pasta y salsa de tomate.   
                Es un plato muy popular entre la gente joven, 
                y no resulta raro encontrarlo en el menú diario de un colegio, de un bar o de cualquier casa particular. 
                Debido a la sencillez es un plato que figura en muchos restaurantes.</div>
        </article>
        
        <article class="recuadro">
                <a href="detail.html">
                 <img class="imagen" src="img/lentejas.jpg" alt="">
                </a>
            <div class="receta">Lentejas con chorizo</div>
            <div class="descripcion">Las lentejas son una preparación culinaria estofada tradicional 
                de la provincia de Ávila.​ Es un plato de invierno, de fácil elaboración, 
                que se sirve fundamentalmente caliente.El ingrediente principal de este plato son las lentejas y se suelen 
                cocer lentamente en presencia de elementos cárnicos procedentes de la matanza como son el chorizo, 
                acompañado de un hueso de jamón con su tuétano.</div>
        </article>
        
        <article class="recuadro">
                <a href="detail.html">
            <img class="imagen" src="img/pollo.jpg" alt="">
                </a>
            <div class="receta">Pollo asado</div>
            <div class="descripcion">El pollo asado es un plato genérico elaborado con un pollo 
                expuesto directamente al fuego. El asado del pollo se va haciendo con la propia grasa que circulan por la 
                carne durante el asado, por esta razón se debe colocar expuesto al fuego de forma que 
                pueda moverse o girar y que la circulación de estas grasas y jugos sea lo más eficiente posible.
                </div>
        </article>
        
        <article class="recuadro">
                <a href="detail.html">
            <img class="imagen" src="img/sopa.jpg" alt="">
                </a>
            <div class="receta">Sopita de Pepita</div>
            <div class="descripcion">La sopa es una preparación culinaria que consiste en un líquido con sustancia y sabor.​
                 Una de sus características principales es que se ingiere con cuchara. 
                 La sopa suele proceder de una preparación culinaria con evaporación, 
                 como es el cocido, o mediante retención de vapores: estofado. 
                 Tradicionalmente, se puede espesar añadiendo al final de la cocción fideos.</div>
        </article>
        
        <article class="recuadro">
                <a href="detail.html">
            <img class="imagen" src="img/bizcocho.jpg" alt="">
                </a> 
            <div class="receta">Bizcocho</div>
            <div class="descripcion">El bizcocho es un tipo de masa esponjosa empleada en repostería. 
                Sus ingredientes básicos son la harina, los huevos enteros, el azúcar y la sal.
                El bizcocho más sencillo contiene los tres ingredientes básicos en proporciones idénticas. 
                Los demás ingredientes sirven para aromatizar y darle su sabor distintivo, como ralladura de limón, 
                almendra molida, cacao, coco rallado...
            </div>
        </article>
        
        <article class="recuadro">
                <a href="detail.html">
            <img class="imagen" src="img/pescado.jpg" alt="">
                </a>
            <div class="receta">Merluza con salsa</div>
            <div class="descripcion">La merluza en salsa verde es un plato de la cocina vasca cuyo principal 
                ingrediente es la merluza acompañado de una salsa verde y almejas. Es una receta muy habitual 
                en los menús de día de los restaurantes españoles.​ 
                Las almejas se suelen abrir con el vapor de la cocción. La salsa verde se prepara ajo, perejil, aceite de oliva, sal. 
                Al caldo se le suele añadir unos guisantes que refuerzan el color verde.</div>
        </article>
        
        <article class="recuadro">
                <a href="detail.html">
            <img class="imagen" src="img/albondiga.jpg" alt="">
                </a>
            <div class="receta">Albondigas con salsa</div>
            <div class="descripcion">Una albóndiga​ es una bola de carne picada, generalmente de res o pollo mezclada con huevos y diversos condimentos. 
                aunque también hay una variable vegetariana hecha a base de seitán. 
                La albóndiga es tan popular en las diferentes gastronomías y tiene tantas recetas que resulta 
                ser un hiperónimo acerca de un alimento. En Bolivia se las come con salsa de ají, fideos o arroz, y dos papas cocidas.</div>
        </article>
        
        <article class="recuadro">
                <a href="detail.html">
            <img class="imagen" src="img/pure.jpg" alt="">
                </a>
            <div class="receta">Puré de patata</div>
            <div class="descripcion">El puré de patatas es un plato elaborado con patatas cocidas y molidas, así como otros ingredientes. 
                El puré de patatas se considera en casi todas las cocinas que lo emplean como un acompañamiento de otro plato, 
                generalmente elaborado con carne o pescado. El puré de patatas es muy popular en las cocinas del norte de Europa.
                El principal ingrediente son unas patatas cocidas en abundante agua. 
                </div>
        </article>
        
    </div>
    
</section>