
<form novalidate  class="food-form ">
        <div class="ui-status error">
                Se ha producido un error
            </div>
        
            <div class="ui-status loading">
                Guardando canción...
            </div>
    
    <div class="ui-status ideal">
        
       <div class="form-control-group">
           <label for="artist">Receta</label>
           <input type="text" id="artist" name="artist" placeholder="Receta.." required>
       </div>

       <div class="form-control-group">
            <label for="title">Sugerencia</label>
            <input type="text" id="title" name="title" placeholder="Sugerencia.." required>
        </div>

        <div class="form-control-group">
            <label for="cover_url">URL</label>
            <input type="url"  id="cover_url" name="cover_url" placeholder="http://...">
        </div>
        
        <div class="form-control-group">
            <button>¡Consulta aquí tu receta!</button>
        </div>
    </div>

</form>