<div class="bloque container">
    <div class="ranking-container">
        <div class="album-item uno">
            <div class="informacion">
                <h2 class="nombre">Carbohidratos</h2>
                <p class="texto">El principal componente de los garbanzos son al igual que el arroz, 
                    los hidratos de carbono. Además, los garbanzos aportan gran cantidad de 
                    fibra que ayuda a regular el tránsito intestinal, los niveles de colesterol y los de azúcar. 
                    Esta fibra es la responsable de que algunas personas tengan problemas de gases y digestiones difíciles, 
                    de manera que estas personas pasarán los garbanzos por el pasapurés una vez hechos, para eliminar la piel 
                    que los recubre.
                </p>
                <small class="enlace">
                        <a href="https://gl.wikipedia.org/wiki/Carbohidrato" target="_blank">Definición</a>
                </small>
            </div>
            <img class="img-ranking" src="./img/carbohidratoss.png" alt="">
        </div>

        <div class="album-item dos">
            <div class="informacion">
                <h2 class="nombre">Proteínas</h2>
                <p class="texto">Las proteínas que aportan los garbanzos son incompletas desde el punto de vista nutritivo, 
                    hay que tener en cuenta que la combinación con cualquier cereal, como el arroz, proporciona una proteína 
                    de excelente calidad biológica.
                    Las costillas nos aportan proteínas de alto valor biológico, necesarias para mantener la masa muscular y formar defensas.
                </p>
                <small class="enlace">
                        <a href="https://es.wikipedia.org/wiki/Prote%C3%ADna" target="_blank">Definición</a>
                </small>
            </div>
            <img class="img-ranking" src="./img/proteinass.png" alt="">
           
        </div>

        <div class="album-item tres">
            <div class="informacion">
                <h2 class="nombre">Lípidos</h2>
                <p class="texto">Las morcillas y la panceta forman parte de los embutidos, 
                    carnes excesivamente grasas y que aportan mucha sal. Por este motivo, serán alimentos de consumo ocasional, 
                    sobre todo para las personas con sobrepeso y enfermedades cardiovasculares, renales y hepáticas, colocándolos 
                    en la punta de la pirámide.
                    Las costillas son una de las partes del cerdo que más grasa tiene, de manera que trataremos de eliminar la grasa.
                </p>
                <small class="enlace"> 
                 <a href="https://es.wikipedia.org/wiki/L%C3%ADpido" target="_blank">Definición</a>
                </small>
            </div>
            <img class="img-ranking" src="./img/lipidoss.png" alt="">
        </div>
    </div>

    <div class="title-ranking">
        <h1>Arroz al horno</h1>
    </div>
</div>
